<!DOCTYPE html>
<html ng-app = "AkbarTicket">
<head>
    <title>اکبر تیکت</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/cssreset.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!-- font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/Results.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js"></script>
    <script type="text/javascript" src="assets/js/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/AkbarTicket.js"></script>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <!--<script src="http://code.angularjs.org/1.2.1/angular-route.min.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
</head>
<body>

<div class="row my_nav">
    <div class="col-md-2 rtl">
    </div>
    <div class="col-md-4 col-xs-6 rtl">
                    <span class="logo rtl">
                        <img alt="logo" class="rtl" src="assets/img/LogoBlack.png"/>
                        <span class="rtl hidden-xs">&nbsp;&nbsp;اکبر تیکت&nbsp;</span>
                        <i class="fa fa-registered"></i>
                    </span>
    </div>
    <div class="karbar col-md-4 col-xs-6 rtl">
        <div class="row">
            <div class="col-md-12">
                <i class="fa fa-user rtl"></i>
                <span class="rtl hidden-xs">&nbsp;&nbsp;&nbsp;نام کاربر</span>
            </div>
        </div>
        <div class="row my_drop-down">
            <div class="col-md-4 rtl">
                <ul>
                    <li>
                        بلیطهای من
                    </li>
                    <li>
                        خروج
                    </li>
                </ul>
            </div>
            <div class="col-md-8 rtl">
            </div>
        </div>
    </div>
    <div class="col-md-2 rtl">
    </div>
</div>
<div ng-controller = "ResultController as result" id="container" class="container-fluid my-container">
<div class="row">
    <div class="col-md-12" id="blue_menu">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="row blue_menu_items">
                    <div class="rtl col-md-3 blue_menu_item hidden-xs">
                        <span class="rtl center">جستجوی پرواز&nbsp;&nbsp;&nbsp;</span>
                        <i class="rtl fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="rtl col-md-3 blue_menu_item selected">
                        <span class="rtl center">انتخاب پرواز&nbsp;&nbsp;&nbsp;</span>
                        <i class="rtl fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="rtl col-md-3 blue_menu_item hidden-xs">
                        <span class="rtl center">ورود اطلاعات&nbsp;&nbsp;&nbsp;</span>
                        <i class="rtl fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="rtl col-md-3 blue_menu_item">
                        <span class="rtl center hidden-xs">دریافت بلیط</span>
                        <i class="rtl">&nbsp;&nbsp;&nbsp;</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<div class="row" id="under_menu">
    <div class="col-md-3 rtl">
        <i class="rtl font-awwsome fa fa-arrow-right" aria-hidden="true" ></i>
        <a href="index.html"><span class="rtl">&nbsp;&nbsp;برگشت به صفحه جستجو</span></a>
    </div>
    <div class="col-md-5 rtl">
        <select class="filter" id="filterRes" ng-model = "angFilterSort" >
            <option value = "">همه</option>
            <option value="-total_price">قیمت نزولی</option>
            <option value="total_price">قیمت صعودی</option>
        </select>
        <select class="filter" ng-model = "angFilterAirline">
            <option value = "">همه</option>
            <option value="IR">هواپیمایی ایران ایر</option>
            <option value="W5">هواپیمایی ماهان</option>
        </select>
        <select class="filter" ng-model = "angFilterSeatClass">
            <option value = "">همه</option>
            <option value="Y">کلاس اقتصادی</option>
            <option value="F">کلاس برتر</option>
            <option value="B">کلاس تجاری</option>
            <option value="M">Mclass</option>
            <option value="C">Cclass</option>
        </select>
    </div>
    <div class="col-md-4 rtl">
        <span class="rtl number">
            پرواز دلخواه شما یافت شد {{searchResults.length}}
        </span>
    </div>
</div>
<div class="row curve gray">
    <div class="col-md-12" id="in_gray">
        <div ng-repeat = "searchResult in searchResults | orderBy:angFilterSort | filter : {flight:{airline_code : angFilterAirline}, seatClass:{seat_class : angFilterSeatClass} }">
            <div class="row padding in_gray_row" >
                <div class="col-md-12 rtl titr">
                </div>
            </div>
            <form name="myForm" class="SearchResultFlights" ng-submit = "result.doReserve($index)">
            <div class="row in_gray_row white" id="t_info">
                <div class="col-md-3 rtl">
                    <div class="row">
                        <div class="col-md-12 rtl in_white_row number">
                            {{searchResult.airline_code}}&nbsp;
                            {{searchResult.flight.flight_no}}
                        </div>
                        <div class="col-md-12 rtl in_white_row">
                            <i class="rtl t_font_awwsome fa fa-calendar-o" aria-hidden="true"></i>
                            <span class="rtl number">&nbsp;&nbsp;{{searchResult.flight.date}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 rtl">
                    <div class="row">
                        <div class="col-md-12 rtl center in_white_row number" id="in_white_middle">
                        {{searchResult.flight.arrival_time}} {{searchResult.dest_code}} << {{searchResult.flight.departure_time}} {{searchResult.orig_code}}
                        </div>
                        <div class="col-md-4 rtl in_white_row center number">
                            <i class="rtl t_font_awwsome fa fa-plane" aria-hidden="true"></i>
                            <span class="rtl number">&nbsp;&nbsp;{{searchResult.airplane_model}}</span>
                        </div>
                        <div class="col-md-8 rtl in_white_row center number">
                            <i class="rtl t_font_awwsome fa fa-suitcase" aria-hidden="true"></i>
                            <span class="rtl">&nbsp;&nbsp;{{searchResult.seatClass.seat_class}} صندلی باقیمانده کلاس {{searchResult.seatClass.count}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 rtl reserve">
                    <div class="row">
                        <div class="col-md-12 rtl center in_white_row number">
                             {{searchResult.total_price}} ريال
                        </div>
                        <div class="col-md-12 rtl center in_white_row">
                            <button type="submit">رزرو آنلاین</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="row padding in_gray_row">
            <div class="col-md-12 rtl titr">
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="rtl center col-md-12 number" id="footer">
        سپیده گودرزی ، مازیار نظری | دانشکده فنی دانشگاه تهران، بهار 1396
    </div>
</div>
</div>
<div  class="col-md-2">
</div>
</div>
</div>
<script src="assets/js/Result.js" type="text/javascript"></script>

</body>
</html>
