<!DOCTYPE html>
<html ng-app = "AkbarTicket">
<head>
    <title>اکبر تیکت</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/cssreset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/Results.css">
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!-- font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js"></script>
    <script type="text/javascript" src="assets/js/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/AkbarTicket.js"></script>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <!--<script src="http://code.angularjs.org/1.2.1/angular-route.min.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
</head>
<body>

<div class="row my_nav">
    <div class="col-md-2 rtl">
    </div>
    <div class="col-md-4 col-xs-6 rtl">
                    <span class="logo rtl">
                        <img alt="logo" class="rtl" src="assets/img/LogoBlack.png"/>
                        <span class="rtl hidden-xs">&nbsp;&nbsp;اکبر تیکت&nbsp;</span>
                        <i class="fa fa-registered"></i>
                    </span>
    </div>
    <div class="karbar col-md-4 col-xs-6 rtl">
        <div class="row">
            <div class="col-md-12">
                <i class="fa fa-user rtl"></i>
                <span class="rtl hidden-xs">&nbsp;&nbsp;&nbsp;نام کاربر</span>
            </div>
        </div>
        <div class="row my_drop-down">
            <div class="col-md-4 rtl">
                <ul>
                    <li>
                        بلیطهای من
                    </li>
                    <li>
                        خروج
                    </li>
                </ul>
            </div>
            <div class="col-md-8 rtl">
            </div>
        </div>
    </div>
    <div class="col-md-2 rtl">
    </div>
</div>
<div ng-controller = "loginController as login" ng-submit="login.doLogin(userInfo)" id="container" class="container-fluid my-container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row" id="under_menu">
                <div class="col-md-4 rtl">

                </div>
                <div class="col-md-4 rtl">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-login">
                                <h4>Welcome back.</h4>
                                <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" ng-model = "login.userInfo.username"/>
                                </br>
                                <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model = "login.userInfo.password"/>
                                </br>
                                <div class="wrapper">
                                    <button class="group-btn" type="submit">
                                        <a href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 rtl">

                </div>
            </div>
                <div class="rtl center col-md-12 number" id="footer">
                    سپیده گودرزی ، مازیار نظری | دانشکده فنی دانشگاه تهران، بهار 1396
                </div>
            </div>
        </div>
        <div  class="col-md-2">
        </div>
    </div>
</div>
<script src="assets/js/Result.js" type="text/javascript"></script>

</body>
</html>
