<!DOCTYPE html>
<html lang="en" ng-app = "AkbarTicket">
<head>
    <title>اکبر تیکت</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/cssreset.css">
    <!-- font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/Reserve.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.18.1/babel.min.js"  type="text/javascript"></script>
    <script type="text/javascript" src="assets/js/angular.min.js"></script>
    <script type="text/javascript" src="assets/js/AkbarTicket.js"></script>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
</head>
<body>
<div class="row my_nav">
    <div class="col-md-2 rtl">
    </div>
    <div class="col-md-4 col-xs-6 rtl">
                    <span class="logo rtl">
                        <img alt="logo" class="rtl" src="assets/LogoBlack.png"/>
                        <span class="rtl hidden-xs">&nbsp;&nbsp;اکبر تیکت&nbsp;</span>
                        <i class="fa fa-registered"></i>
                    </span>
    </div>
    <div class="karbar col-md-4 col-xs-6 rtl">
        <div class="row">
            <div class="col-md-12">
                <i class="fa fa-user rtl"></i>
                <span class="rtl hidden-xs">&nbsp;&nbsp;&nbsp;نام کاربر</span>
            </div>
        </div>
        <div class="row my_drop-down">
            <div class="col-md-4 rtl">
                <ul>
                    <li>
                        بلیطهای من
                    </li>
                    <li>
                        خروج
                    </li>
                </ul>
            </div>
            <div class="col-md-8 rtl">
            </div>
        </div>
    </div>

    <div class="col-md-2 rtl">
    </div>
</div>
<div id="container" class="container-fluid my-container" ng-controller = "ReserveController as reserve">
<div class="row">
    <div class="col-md-12" id="blue_menu">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="row blue_menu_items">
                    <div class="rtl col-md-3 blue_menu_item hidden-xs">
                        <span class="rtl center">جستجوی پرواز&nbsp;&nbsp;&nbsp;</span>
                        <i class="rtl fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="rtl col-md-3 blue_menu_item hidden-xs">
                        <span class="rtl center">انتخاب پرواز&nbsp;&nbsp;&nbsp;</span>
                        <i class="rtl fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="rtl col-md-3 blue_menu_item selected">
                        <span class="rtl center">ورود اطلاعات&nbsp;&nbsp;&nbsp;</span>
                        <i class="rtl fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="rtl col-md-3 blue_menu_item">
                        <span class="rtl center hidden-xs">دریافت بلیط</span>
                        <i class="rtl">&nbsp;&nbsp;&nbsp;</i>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<div class="row" id="under_menu">
    <div class="col-md-3 rtl">
        <i class="rtl font-awwsome fa fa-arrow-right" aria-hidden="true" ></i>
        <span class="rtl"><a href="/performSearch.do?from=THR&to=MHD&departureDate=05Feb&arrivalDate=05Feb&adultNum=1&childNum=2&infNum=3"
        >&nbsp;&nbsp;برگشت به صفحه نتایج
        </a></span>
    </div>
    <div class="col-md-6 rtl">
    </div>
    <div class="col-md-3 rtl">
        <span class="rtl">زمان باقی مانده:&nbsp;&nbsp;&nbsp;</span>
        <span class="rtl number red">04:59</span>
    </div>
</div>
<div class="row curve gray" >
    <div class="col-md-12" id="in_gray">
        <div class="row padding in_gray_row">
            <div class="col-md-12 rtl titr">
                مشخصات پرواز انتخابی شما
            </div>
        </div>
        <div class="row in_gray_row white" id="t_info">
            <div class="col-md-3 rtl">
                <div class="row">
                    <div class="col-md-12 rtl in_white_row number">
                        {{resultRep.converted.airline_code + resultRep.flight_number}}
                    </div>
                    <div class="col-md-12 rtl in_white_row">
                        <i class="rtl font-awwsome fa fa-calendar-o" aria-hidden="true"></i>
                        <span class="rtl number">&nbsp;&nbsp;{{resultRep.date}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 rtl center number" id="in_white_middle">
               {{ resultRep.converted.orig_city + resultRep.converted.departure_time + '>>' + resultRep.converted.dest_city + resultRep.converted.arrival_time }}
            </div>
            <div class="col-md-3 rtl">
                <div class="row">
                    <div class="col-md-12 rtl in_white_row">
                        <i class="rtl font-awwsome fa fa-suitcase" aria-hidden="true"></i>
                        <span class="rtl">&nbsp;&nbsp;{{ resultRep.converted.seat_class }}</span>
                    </div>
                    <div class="col-md-12 rtl in_white_row">
                        <i class="rtl font-awwsome fa fa-plane" aria-hidden="true"></i>
                        <span class="rtl number">&nbsp;&nbsp;{{ resultRep.converted.airplane_model }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding in_gray_row">
            <div class="col-md-12 rtl titr">
                صورتحساب سفر
            </div>
        </div>
        <div class="row white padding in_gray_row">
            <table>
                <tr>
                    <th class="rtl center"></th>
                    <th class="rtl center">به ازای هر نفر</th>
                    <th class="rtl center">تعداد</th>
                    <th class="rtl center">مجموع</th>
                </tr>
                <tr class="gray table_border">
                    <td class="rtl center">بزرگسال</td>
                    <td class="rtl center number">{{reserveInfo.adult_price}} ریال</td>
                    <td class="rtl center number" id="adult_count_tbl">{{reserveInfo.adult_count}} نفر</td>
                    <td class="rtl center number" id="adult_sum_price_tbl">{{reserveInfo.adult_price * reserveInfo.adult_count}} ریال</td>
                </tr>
                <tr class="table_border">
                    <td class="rtl center number">کودک زیر 12 سال</td>
                    <td class="rtl center number">{{reserveInfo.child_price}} ریال</td>
                    <td class="rtl center number" id="child_count_tbl">{{reserveInfo.child_count}} نفر</td>
                    <td class="rtl center number" id="child_sum_price_tbl">{{reserveInfo.child_price * reserveInfo.child_count}} ریال</td>
                </tr>
                <tr class="gray table_border">
                    <td class="rtl center number">نوزاد زیر 2 سال</td>
                    <td class="rtl center number">{{reserveInfo.infant_price}} ریال</td>
                    <td class="rtl center number" id="infant_count_tbl">{{reserveInfo.infant_count}} نفر</td>
                    <td class="rtl center number" id="infant_sum_price_tbl">{{reserveInfo.infant_price * reserveInfo.infant_count}} ریال</td>
                </tr>
                <tr class="green table_border">
                    <td class="rtl center">مجموع</td>
                    <td class="rtl center"></td>
                    <td class="rtl center"></td>
                    <td class="rtl center number" id="total_price_tbl">{{reserveInfo.adult_price * reserveInfo.adult_count + reserveInfo.child_price * reserveInfo.child_count + reserveInfo.infant_price * reserveInfo.infant_count}}
                        ریال</td>
                </tr>
            </table>
        </div>
        <div class="row padding in_gray_row">
            <div class="col-md-12 rtl titr">
                اطلاعات
            </div>
        </div>
        <div class="row padding in_gray_row">
            <div class="col-md-12 rtl">
                * نام و نام خانوادگی باید بیش از دو حرف و تنها شامل حروف لاتین باشند
                <br/><br/>
                ** شماره ملی باید ده رقم باشد
            </div>
        </div>
        <form name="myForm" method="post" id="ReserveForm" ng-submit="reserve.doReserve(reserveInfo)" novalidate>
            <input type="hidden" name="token" ng-model="resultRep.token">
            <input type="hidden" name="airline_code" ng-model="reserveInfo.airline_code">
            <input type="hidden" name="flight_no" ng-model="reserveInfo.flight_number">
            <input type="hidden" name="date" ng-model="reserveInfo.date">
            <input type="hidden" name="orig_code" ng-model="reserveInfo.orig_code">
            <input type="hidden" name="dest_code" ng-model="reserveInfo.dest_code">
            <input type="hidden" name="departure_time" ng-model="reserveInfo.departure_time">
            <input type="hidden" name="arrival_time" ng-model="reserveInfo.arrival_time">
            <input type="hidden" name="airplane_model" ng-model="reserveInfo.airplane_model">
            <input type="hidden" name="seat_class" ng-model="reserveInfo.seat_class">
            <input type="hidden" name="adult_count" id="adult_count" ng-model="reserveInfo.adult_count">
            <input type="hidden" name="adult_price" id="adult_price" ng-model="reserveInfo.adult_price">
            <input type="hidden" name="child_count" id="child_count" ng-model="reserveInfo.child_count">
            <input type="hidden" name="child_price" id="child_price" ng-model="reserveInfo.child_price">
            <input type="hidden" name="infant_count" id="infant_count" ng-model="reserveInfo.infant_count">
            <input type="hidden" name="infant_price" id="infant_price" ng-model="reserveInfo.infant_price">
            <input type="hidden" name="total_price" id="total_price" ng-model="reserveInfo.total_price">
            <input id="num_of_seats" type="hidden" name="num_of_seats" ng-model="reserveInfo.num_of_seats">
            
            <div id="form_passengers_part">
            <div class="row padding in_gray_row form_row" id="bozorgsal" ng-repeat="n in [].constructor(reserveInfo.adult_count) track by $index">
                <div class="col-md-2 rtl form_label">
                    <i class="rtl fa fa-male bozorgsal" aria-hidden="true"></i>
                    <span class="number">&nbsp;&nbsp;&nbsp;{{$index + 1}} بزرگسال</span>
                </div>
                <div class="col-md-2 rtl">
                    <select name="sex{{$index + 1}}" ng-model="reserveInfo.passengers[$index].sex" >
                        <option value="MR" >آقای</option>
                        <option value="MRS" >خانم</option>
                    </select>
                </div>
                <div class="col-md-2 rtl">
                    <input type="text" name="name{{$index + 1}}" placeholder="نام (انگلیسی)" ng-model="reserveInfo.passengers[$index].FirstName" required name-directive/>
                </div>
                <div class="col-md-3 rtl">
                    <input type="text" name="fname{{$index + 1}}" placeholder="نام خانوادگی (انگلیسی)" ng-model="reserveInfo.passengers[$index].SurName" required name-directive/>
                </div>
                <div class="col-md-3 rtl">
                    <input type="text" name="internationalID{{$index + 1}}" placeholder="شماره ملی" ng-model="reserveInfo.passengers[$index].NationalID" required nid-directive/>
                </div>
            </div>
                
            <div class="row padding in_gray_row form_row" id = "khordsal" ng-repeat="n in [].constructor(reserveInfo.child_count) track by $index">
                <div class="col-md-2 rtl form_label">
                    <i class="rtl fa fa-child bozorgsal" aria-hidden="true"></i>
                    <span class="number">&nbsp;&nbsp;&nbsp;{{reserveInfo.adult_count + $index + 1}} خردسال</span>
                </div>
                <div class="col-md-2 rtl">
                    <select name="sex{{reserveInfo.adult_count + $index + 1}}" ng-model="reserveInfo.passengers[reserveInfo.adult_count + $index].sex" >
                        <option value="MR" >آقای</option>
                        <option value="MRS" >خانم</option>
                    </select>
                </div>
                <div class="col-md-2 rtl">
                    <input type="text" name="name{{reserveInfo.adult_count + $index + 1}}" placeholder="نام (انگلیسی)" ng-model="reserveInfo.passengers[reserveInfo.adult_count + $index].FirstName" required name-directive/>
                </div>
                <div class="col-md-3 rtl">
                    <input type="text" name="fname{{reserveInfo.adult_count + $index + 1}}" placeholder="نام خانوادگی (انگلیسی)" ng-model="reserveInfo.passengers[reserveInfo.adult_count + $index].SurName" required name-directive/>
                </div>
                <div class="col-md-3 rtl">
                    <input type="text" name="internationalID{{reserveInfo.adult_count + $index + 1}}" placeholder="شماره ملی" ng-model="reserveInfo.passengers[reserveInfo.adult_count + $index].NationalID" required nid-directive/>
                </div>
            </div>
                
            <div class="row padding in_gray_row form_row" id = "nozad_div" ng-repeat="n in [].constructor(reserveInfo.infant_count) track by $index">
                <div class="col-md-2 rtl form_label">
                    <i class="rtl fa fa-child nozad" aria-hidden="true"></i>
                    <span class="number">&nbsp;&nbsp;&nbsp;{{reserveInfo.adult_count + reserveInfo.child_count + $index + 1}} نوزاد</span>
                </div>
                <div class="col-md-2 rtl">
                    <select name="sex{{reserveInfo.adult_count + reserveInfo.child_count + $index + 1}}" ng-model="reserveInfo.passengers[reserveInfo.adult_count + reserveInfo.child_count + $index].sex" >
                        <option value="MR" >آقای</option>
                        <option value="MRS" >خانم</option>
                    </select>
                </div>
                <div class="col-md-2 rtl">
                    <input type="text" name="name{{reserveInfo.adult_count + reserveInfo.child_count + $index + 1}}" placeholder="نام (انگلیسی)" ng-model="reserveInfo.passengers[reserveInfo.adult_count + reserveInfo.child_count + $index].FirstName" required name-directive/>
                </div>
                <div class="col-md-3 rtl">
                    <input type="text" name="fname{{reserveInfo.adult_count + reserveInfo.child_count + $index + 1}}" placeholder="نام خانوادگی (انگلیسی)" ng-model="reserveInfo.passengers[reserveInfo.adult_count + reserveInfo.child_count + $index].SurName" required name-directive/>
                </div>
                <div class="col-md-3 rtl">
                    <input type="text" name="internationalID{{reserveInfo.adult_count + reserveInfo.child_count + $index + 1}}" placeholder="شماره ملی" ng-model="reserveInfo.passengers[reserveInfo.adult_count + reserveInfo.child_count + $index].NationalID" required nid-directive/>
                </div>
            </div>
                
            </div>   
            <input type="hidden" name="count" value="6" id="count">
            <div class="row padding in_gray_row" ng-click="add_passenger(1)">
                <span class="add-member-title rtl">
                    اضافه کردن بزرگسال
                    <i class="add-member rtl fa fa-plus" aria-hidden="true"></i>
                </span>
            </div>

            <div class="row padding in_gray_row" ng-click="add_passenger(2)">
                <span class="add-member-title rtl">
                    اضافه کردن خردسال
                    <i class="add-member rtl fa fa-plus" aria-hidden="true"></i>
                </span>
            </div>
            <div class="row padding in_gray_row" ng-click="add_passenger(3)">
                <span class="add-member-title rtl">
                    اضافه کردن نوزاد
                    <i class="add-member rtl fa fa-plus" aria-hidden="true"></i>
                </span>
            </div>
            <div class="row padding in_gray_row">
                <button type="submit" id="pardakht" ng-disabled="myForm.$dirty && myForm.$invalid">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span>پرداخت و ثبت نهایی</span>
                </button>
                <button id="enseraf">
                    انصراف
                </button>
            </div>
            </form>
    </div>
</div>
<div class="row">
    <div class="rtl center col-md-12 number" id="footer">
        سپیده گودرزی ، مازیار نظری | دانشکده فنی دانشگاه تهران، بهار 1396
    </div>
</div>
</div>
<div  class="col-md-2">
</div>
</div>
</div>
</body>
</html>