@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir-font/Vazir.eot')format('eot'),
    url('../fonts/vazir-font/Vazir.woff')format('woff'),
    url('../fonts/vazir-font/Vazir.ttf')format('truetype');
}

@font-face {
    font-family: 'Vazir-FD';
    src: url('../fonts/vazir-font/Farsi-Digits/Vazir-FD.eot')format('eot'),
    url('../fonts/vazir-font/Farsi-Digits/Vazir-FD.woff')format('woff'),
    url('../fonts/vazir-font/Farsi-Digits/Vazir-FD.ttf')format('truetype');
}

@font-face {
    font-family: 'Vazir-Bold-FD';
    src: url('../fonts/vazir-font/Farsi-Digits/Vazir-Bold-FD.eot')format('eot'),
    url('../fonts/vazir-font/Farsi-Digits/Vazir-Bold-FD.woff')format('woff'),
    url('../fonts/vazir-font/Farsi-Digits/Vazir-Bold-FD.ttf')format('truetype');
}


@media only screen and (max-width: 600px){

    .company {
        font-size: 0.7em;
    }

    #username {
        font-size: 0.7em;
    }

    .user ul {
        font-size: 0.8em;
        width: 70px;
    }

    .user ul:hover {
        width: 70px;
    }

    .containerHeader span{
        display: none;
    }

    .containerHeader:after {
        content: "دریافت بلیط";
        color: white;
        padding-right:20%;
    }

    .TicketsHeader {
        font-size: 0.8em;
    }

    button {
        width: 70px !important;
        font-size: 0.7em;
    }

    .VA {
        margin-right: 20%;
    }

    .numbers {
        line-height: 50px;
    }

    .t_info span {
        display: block;
        line-height: 30px;
    }

    .outputDate{
        width: 100% !important;
        font-size: 0.9em !important;
    }

    #Ltr {
        direction: ltr;
    }
}


body {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Vazir';
}

.header {
    padding: 1% 20% 1% 20%;
    font-size: 1.3em;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 50px;;

}


#logo {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    float: right;
}

#sideCompany {
    font-size: 0.5em;
    float: right;
    margin-top: 15px;
}

.company {
    margin-right: 1%;
    margin-left: 1%;
    height: 40px;
    line-height: 40px;
    float: right;
}

.companySet {

}

.user {
    margin: 10px 49% 0 0;
    font-size: 0.8em;
}

.containerHeader {
    background-color: #6060b3;
    padding: 1% 27% 1% 20%;
    margin: 70px 0 0 0;
    font-size: 0.9em;
    line-height: 35px;
}

.selected {
    color: white;
}

.left_arrow {
    margin-right: 5%;
    margin-left: 5%;
}

.container_body {
    padding: 2% 20% 0 20%;
}

.TicketsHeader{
    float: right;
    vertical-align: middle;
    line-height: 50px;
}

button {
    float: left;
    border-radius: 10px;
    background-color: #FF587F;
    height: 45px;
    width: 110px;
    color: white;
    font-family: 'Vazir';
    transition: ease-in 0.3s;
}

button:hover {
    box-shadow: 2px 2px 2px #888888;
}

button:active {
    opacity: 0.8;
}

button a{
    color: white;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 30%;
    right: 30%;
    height: 25%;
    padding: 20px;
    background: rgba(10, 0,100, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.title{
    height: 70px;
}

.close {
    color: white;
    text-decoration: none;
    font-size: 1.8em;
}

.ticket {
    background-color: #E2E2E2;
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.num_codes{
    height: 70%;
    margin-bottom: 3%;
}

.numbers {
    margin-right: 15%;
    margin-left: 10%;
    margin-top: 20px;
    font-size: 1.5em;
    font-family: 'Vazir-Bold-FD';

}

.VA {
    vertical-align: top;
}

.t_info {
    margin-top: 2%;
    margin-bottom: 2%;
}

.name_margin{
    margin-left: 7%;
}

.flight_margin{
    margin-right:7%;
    margin-left: 4%;
}

.color_set{
    color: #4E4E4E;
}

.color_set2{
    color: #DFDFDF;
}

.eco_class{
    margin-left: 4%;
    margin-right:4%;
}

.left_margin {
    margin-left: 13%;
    display: inline-block;
}

.left_margin_date{
    margin-left: 24%;
    display: inline-block;
}

.inf_titles{
    margin-bottom: 10px;
}

.infobox {
    display: inline-block;
}

.infh{
    line-height: 30px;
}


.output {
    height: 40px;
    width: 100px;
    background-color: white;
    border-radius: 4px;
    margin-left: 20px;
    font-family: 'Vazir-FD';
    font-size: 1.2em;
    text-align: center;
    line-height: 40px;
}

.widthExtension{
    width: 150%;
}

.outputDate {
    display: inline-block;
    height: 40px;
    width: 200px;
    background-color: white;
    border-radius: 4px;
    margin-left: 20px;
    font-family: 'Vazir-FD';
    text-align: center;
    line-height: 40px;
    font-size: 1.2em;
}

.outputGoCome{
    width: 17%;
}

.font_set {
    font-family: 'Vazir-FD';
}

.footer{
    font-family: 'Vazir-FD';
    text-align: center;
    font-size: 0.8em;
}

.user ul {
    list-style-type: none;
    display: none;
    margin: 15px 20px 0px 0px;
    padding: 0;
    background-color: white;
    border-radius: 4px;
    width: 150px;
    transition:all .3s ease-in;
}

.user li {
    font-size: 0.7em;
    color: black;
    margin: 0;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    transition:all .3s ease-in;
}

.user li:hover {
    background-color: #DCDCDC;
}

.user li:active {
    background-color: #B8B8B8;
}

.user:hover {
    color: #B2B1E6;
}

.user:hover ul{
    display: block;
}

.user:hover #user-icon {
    color: #B2B1E6;
}

