@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir-font/Vazir.eot')format('eot'),
        url('../fonts/vazir-font/Vazir.woff')format('woff'),
        url('../fonts/vazir-font/Vazir.ttf')format('truetype');
}

@font-face {
    font-family: 'Vazir-FD';
    src: url('../fonts/vazir-font/Farsi-Digits/Vazir-FD.eot')format('eot'),
         url('../fonts/vazir-font/Farsi-Digits/Vazir-FD.woff')format('woff'),
         url('../fonts/vazir-font/Farsi-Digits/Vazir-FD.ttf')format('ttf');
}


body {
    font-family: 'Vazir';
    margin: 0;
    padding: 0;
    background-color: #8D86C1;
}

.inline {
    display: inline-block;
}

.FDigit {
	font-family: 'Vazir-FD';
}

#icon-resize {
    font-size: 0.5em;
}

.bgimage{
    width: 62%;
    height: 110%;
    position: relative;
    margin-right: 592px;
    margin-top: 262px;
}

.container {
    /*background-image: url(assets/Background.png);*/
    width:100%;
	height: 100%;
	min-width:1100px;
	min-height: 600px;
	position:absolute;
    direction: rtl;
	overflow: hidden;
}

.header {
    color: white;
    width: 900px;
    height: 70px;
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    right: 200px;
}

#company {
    line-height: 10%;
}

.company-name {
    position: absolute;
    top: 30px;
    font-size: 1.5em;
}

#logo {
    margin: 1% 1% 1% 1%;
    padding: 0;
    z-index: 1;
}

.user {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 85%;
	transition:all .3s ease-in;
}

#username {
	position: relative;
	top: 5px;
}

#user-icon {
    float: right;
    color: white;
    font-size: 1.3em;
    margin-top: 0px;
	transition:all .3s ease-in;
}

.ticket-kind {
    position: absolute;
    top: 20%;
    right: 25%;
    border: 1px solid white;
    border-radius: 6px;
    line-height: 40px;
    width: 350px;
    font-size: 1.2em;
    background-color: #3B346B;
}

.ticket1 {
    background-color: white;
    float: right;
    text-align: center;
    width:150px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ticket2 {
    color: white;
    width: 210px;
    text-align: center;
    margin-right: 140px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	transition:all .3s ease-in;
}

.ticket2:hover {
    background-color: #555555;
}

.information {
    position: absolute;
    top: 30%;
    right: 25%;
    border-radius: 6px;
    height: 285px;
    width: 350px;
    background-color: #3B346B;
    color: white;
}

.source {
    margin: 5%;
}

#plane {
    font-size: 1.6em;
}

#dest-plane {
    font-size: 1.6em;
    margin-right: 5%;
    margin-bottom: 5%;
    transform: rotate(90deg)
}

.go {
    margin-right: 5%;
    margin-bottom: 5%;
}

#go-date {
    font-size: 1.3em;
}

.come {
    margin-right: 5%;
    margin-bottom: 5%;
}

#come-date {
    font-size: 1.3em;
}

.src-select{
    margin-right: 80px;
    font-family: 'Vazir';
    border-radius: 3px;
}

.dest-select{
    margin-right: 66px;
    font-family: 'Vazir';
    border-radius: 3px;
}

.date {
    font-family: 'Vazir-FD';
    overflow: hidden;
    height: 23px;
    width: 163px;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-right: 80px;
    padding-top: 2px;
    padding-left: 3px;
    border-radius: 3px;
    position: relative;
    top: 9px;
}

.enter-date {
    font-family: 'Vazir-FD';
    overflow: hidden;
    height: 23px;
    width: 163px;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-right: 59px;
    padding-top: 2px;
    padding-left: 3px;
    border-radius: 3px;
    position: relative;
    top: 5px;
	background-color: gray;
}

.adult-num-section {
    margin-right: 30px;
}

.male-header{
    font-size: 0.5em;
    margin-right: 30px;
    margin-bottom: 10px;
    font-family: 'Vazir';
}

#male-icon{
    font-size: 1.4em;
}

.adult-num {
    height: 30px;
    width: 50px;
    font-family: 'Vazir-FD';
    border-radius: 3px;
}

.child-num-section {
    position: relative;
    top: -48px;
    right: 133px;
}
.child-header {
    font-size: 0.5em;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Vazir-FD';
}

#child-icon {
    font-size: 1.4em;
}

.child-num{
    font-family: 'Vazir-FD';
    height: 30px;
    width: 50px;
    border-radius: 3px;
}

.inf-num-section {
    position: relative;
    top: -95px;
    right: 244px;
}

.inf-header{
    font-size: 0.5em;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Vazir-FD';
}

.inf-num {
    font-family: 'Vazir-FD';
    height: 30px;
    width: 50px;
    border-radius: 3px;
}

.search-button {
    width: 100%;
    border: none;
    background-color: #FF7666;
    position: relative;
    top:-83px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family: 'Vazir';
    font-size: 1.3em;
    color:white;
	transition:all .3s ease-in;
	height: 40px;
}

.search-button:hover {
    background-color: #FFB5AD;	
}

.search-button:active {
    box-shadow: inset 1px 1px 1px 1px #000;
    background-color: #BA4F43;
}

    
/*for slideshow*/
.css-slideshow{
    position: absolute;
    top: 7%;
    right:750px;
    /*max-width: 495px;
    height: 370px;*/
    margin: 5em auto .5em auto;
    transform: scale(0.65);
}
.css-slideshow figure{
   margin: 0;
   position: absolute;
}

.css-slideshow figure{
   opacity:0;
}

/**/

figure:nth-child(1) {
   animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
   animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
   animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
   animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
   animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
   animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
   animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
   animation: xfade 48s 0s infinite;
}

@keyframes xfade{
   0%{
      opacity: 1;
   }
   10.5% {
      opacity:1;
   }
   12.5%{
      opacity: 0;
   }
   98% {
      opacity:0;
   }
   100% {
      opacity:1;
   }
}

.css-slideshow:hover figure 
{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
}

.slogan {
    position: absolute;
    top: 470px;
    right: 765px;
    text-align: center;
    font-size: 1.5em;
    color: white;
}

.footer {
    font-family: 'Vazir-FD';
    font-size: 0.8em;
    position: absolute;
    top: 95%;
    right: 36%;
    color: white;
}

.user ul {
    list-style-type: none;
    display: none;
	margin: 15px 20px 0px 0px;
	padding: 0;
	background-color: white;
	border-radius: 4px;
	width: 150px;
	transition:all .3s ease-in;
}

.user li {
	font-size: 0.7em;
	color: black;
	margin: 0;
	padding: 10px 10px 10px 10px;
	border-radius: 4px;
	transition:all .3s ease-in;
}

.user li:hover {
	background-color: #DCDCDC;
}

.user li:active {
	background-color: #B8B8B8;
}

.user a {
    text-decoration: none;
    color: white;
}

.user:hover {
    color: #B2B1E6;
}

.user:hover ul{
    display: block; 
}

.user:hover #user-icon {
    color: #B2B1E6;
}

