@font-face {
    font-family: 'Vazir';
    src: url('../fonts/vazir-font/Vazir.eot')format('eot'),
    url('../fonts/vazir-font/Vazir.woff')format('woff'),
    url('../fonts/vazir-font/Vazir.ttf')format('truetype');
}

@font-face {
    font-family: 'Vazir-FD';
    src: url('../fonts/vazir-font/Farsi-Digits/Vazir-FD.eot')format('eot'),
    url('../fonts/vazir-font/Farsi-Digits/Vazir-FD.woff')format('woff'),
    url('../fonts/vazir-font/Farsi-Digits/Vazir-FD.ttf')format('ttf');
}

body{
    font-family: 'Vazir';
    font-size: 14px;
}

.rtl{
    float: right !important;
    direction: rtl !important;
}

.ltr{
    float: left !important;
    direction: ltr !important;
}

.red{
    color: red;
}

.curve{
    border-radius: 5px;
}

.center{
    text-align: center;
}

.font-awwsome{
    line-height: 20px;
}

.in_gray_row{
    padding: 20px 0px;
    margin: 0 10px;
}

.in_white_row{
    height:30px;
}

#under_menu{
    padding: 20px 0;
}

.gray{
    background: #eaeaea;
}

#in_gray{
    padding: 0px 20px;
}

.white{
    background: white;
    border-radius: 10px;
    padding: 20px 10px;
}

#in_white_middle{
    height: 60x;
    line-height: 60px;
    font-size: 22px;
}

table{
    width: 100%;
}

th{
    width: 24%;
    min-height: 50px;
    line-height: 50px;
    color: #b7b7b7;
}

td{
    width: 24%;
    min-height: 50px;
    line-height: 50px;
}

.table_border{
    border-top:1px solid #b7b7b7;
}

.green{
    background: #90d890;
}

select , input {
    width:100%;
    border-radius: 3px;
    background: white;
    border: none;
    margin: 5px 0;
    padding-right: 5px;
}

.form_row , .form_row > div > i{
    line-height: 28px !important;
    font-size: 15px;
}

.form_label{
    border: none;
    margin: 5px 0;
    padding-right: 5px;
    color: #4c4c71;
}

.form_label > .bozorgsal {
    font-size: 30px;
}

button{
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    height: 40px;
    margin: 5px;
    font-size: 16px;
}



#pardakht:hover , #enseraf:hover{
    box-shadow: 2px 2px 1px #888888;
}

#pardakht:active , #enseraf:active{
    box-shadow: 2px 2px 6px #888888;
}

.nozad{
    font-size:20px !important;
}

#pardakht{
    background: #56568A;
    color: white;
    transition: all .3s ease-in;
}

#enseraf{
    background: #ff9c9c;;
    color: white;
    transition: all .3s ease-in;
}

#footer{
    font-size: 14px;
    padding: 30px;
    color:#747474;;
}

.titr {
    color: #7a7979;
    font-size: 20px;
}

#t_info{
    color: #696363;
}

#blue_menu{
    background: #6060B3;
    color: #2D2D56;
    height: 80px;
    line-height: 80px;
    font-size: 17px;
}

.blue_menu_items{
    background: #6060B3;
}

.blue_menu_item > i {
    line-height: 80px;
}

.selected{
    color: white;
}

.my_nav{
    width: 100%;
    min-height: 100px;
    font-size: 19px;
    color: #4c4c71;
    position:fixed;
    z-index: 1;
    background-color: white;
    margin: auto;
}

#container {
    position: relative;
    top: 100px;
}

.logo , karbar{
    min-height: 100px;
}

.logo > span , .karbar span{
    min-height: 100px;
    line-height: 100px;
}

.logo > img{
    width:50px;
    margin:22px 0px;
}

.karbar{
    position: absolute;
    transition: all .3s ease-in;
}

.karbar i , .logo > i{
    line-height: 100px;
}

.karbar ul {
    list-style-type: none;
    display: none;
    margin: 0px 20px 0px 0px;
    padding: 0;
    background-color: white;
    border-radius: 4px;
    width: 150px;
}

.karbar li {
    font-size: 0.7em;
    color: black;
    margin: 0;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    transition: all .3s ease-in;
}

.karbar li:hover {
    background-color: #DCDCDC;
}

.karbar li:active {
    background-color: #B8B8B8;
}

.karbar:hover {
    color: #B2B1E6;
}

.karbar:hover ul{
    display: block;
}

.my_drop_down {
    position: relative;
    top:30px;
}

.number{
    font-family: 'Vazir-FD' ;
}

a:hover{
    text-decoration:none;
}

.add-member-title{
    line-height: 25px;
}

.add-member{
    color: #5b6178;
    font-size: 25px;
    padding: 0px 10px;
}

.error{
	color: red;
	background:pink;
	border:1px solid red;
}